<footer>
    <section class="servicio-cliente">
        <h3>Servicio al cliente</h3>
        <h4><a href="#">FAQ</a></h4>
        <h4><a href="#">Terminos y condiciones</a></h4>
    </section>

    <section class="compañia">
        <h3>Compañia</h3>
        <h4><a href="#">Sobre nosotros</a></h4>
    </section>

    <section class="compra-protgida">
        <h3>Compra protegida</h3>
        <h4><a href="#">Botón de arrepentimiento</a></h4>
        <h4><a href="#">Defensa al consumidor</a></h4>
    </section>

    <section class="contacto">
        <h3>CONTACTO</h3>
        <h4><a href="#">Ventas</a></h4>
        <h4><a href="#">Servicio técnico</a></h4>
    </section>

    <section class="social">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-solid fa-envelope"></i></a>
    </section>
</footer>