<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

<%- include('partials/header.ejs') %>

<!-------------- MAIN ----------------------------------------------->
    <main>
        <div class="main-carousel">
            <img class="main-image" src="/images/main-image.jpg" alt="">
                <!-- <i class="fa-solid fa-chevron-left"></i>
                <i class="fa-solid fa-chevron-right"></i>
                <i class="fa-solid fa-ellipsis"></i> -->
        </div>

        <div class="destacado">
            <h2>Productos Destacados</h2>
        </div>

        <section class="prod-display">
            <div class="card">
                <img class="card-img" src="/images/laptop.webp" alt="laptop">
                <div class="separator">
                    <h3>NOMBRE DEL PRODUCTO</h3>
                    <h4>$XXXX</h4>
                    <a href="#"><i class="fa-solid fa-eye"></i> Detalles</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="/images/laptop.webp" alt="laptop">
                <div class="separator">
                    <h3>NOMBRE DEL PRODUCTO</h3>
                    <h4>$XXXX</h4>
                    <a href="#"><i class="fa-solid fa-eye"></i> Detalles</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img" src="/images/laptop.webp" alt="laptop">
                <div class="separator">
                    <h3>NOMBRE DEL PRODUCTO</h3>
                    <h4>$XXXX</h4>
                    <a href="#"><i class="fa-solid fa-eye"></i> Detalles</a>
                </div>
            </div>

        </section>

    </main>

<!-------------- FOOTER ----------------------------------------------->

<%- include('partials/footer.ejs') %>

</body>
</html>