<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    
    <title>Registro</title>
    
</head>

<body class="body-register">
    <form>
        <section class="formContainer">
            <h4>Registro</h4>
            <hr>
            <label for="email"><b>Email</b></label>
            <input class="register-input" type="text" placeholder="Ingrese Email" name="email" required>
            
            <label for="password"><b>Contraseña</b></label>
            <input class="register-input" type="password" placeholder="Ingrese Contraseña" name="password" required>
            
            <label for="repetirPassword"><b>Confirmar Contraseña</b></label>
            <input class="register-input" type="password" placeholder="Ingrese Contraseña" name="repetirPassword" required>

            <label for="nombre"><b>Nombre</b></label>
            <input  class="register-input" type="text" name="nombre" required>

            <label for="apellido"><b>Apellido</b></label>
            <input class="register-input" type="text" name="apellido" required>

            <label for="direccion"><b>Dirección</b></label>
            <input class="register-input" type="text" placeholder="Ej: Av. Qwerty 1010" name="direccion" required>

            <label for="pais"></label>
            <select name="pais" id="pais">
                <option value="argentina">Argentina</option>
            </select>

            <label for="provincia"></label>
            <select name="provincia" id="provincia">
                <option value="buenosAires">Buenos Aires</option>
                <option value="caba">CABA</option>
                <option value="catamarca">Catamarca</option>
                <option value="chaco">Chaco</option>
                <option value="chubut">Chubut</option>
                <option value="cordoba">Córdoba</option>
                <option value="corrientes">Corrientes</option>
                <option value="entreRios">Entre Ríos</option>
                <option value="formosa">Formosa</option>
                <option value="jujuy">Jujuy</option>
                <option value="laPampa">La Pampa</option>
                <option value="laRioja">La Rioja</option>
                <option value="mendoza">Mendoza</option>
                <option value="misiones">Misiones</option>
                <option value="neuquen">Neuquén</option>
                <option value="rioNegro">Rio Negro</option>
                <option value="salta">Salta</option>
                <option value="sanJuan">San Juan</option>
                <option value="sanLuis">San Luis</option>
                <option value="santaCruz">Santa Cruz</option>
                <option value="santaFe">Santa Fe</option>
                <option value="santiagoDelEstero">Santiago del Estero</option>
                <option value="tierraDelFuego">Tierra del Fuego</option>
                <option value="tucuman">Tucumán</option>
            </select>


                <button type="button" class="cancel">Cancelar</button>
                <button type="submit" class="signup">Crear Cuenta</button>
            </div>
        </div>
    </form>

</body>

</html>