<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body class="body-login">

<%- include('partials/header.ejs') %>    

    <section class="inicio-sesion">
        <h3>Inicio de Sesión</h3>

        <h5>Completá tus datos</h5>

        <form action="/log-in" method="POST">

            
         <p class="form-section">
                <label for="email"><b>Email</b></label>
                <input class="register-input" type="text" placeholder="Ingrese Email" name="email" required>
            </p>
            
            <p class="contrasena">
                <label for="clave">Contraseña:</label> 
                <input class="input-register" type="password" name="password" id="clave">
            </p>

            <a href="/restaurar-contraseña">¿Olvidaste tu contraseña?</a>
            
            <div class="login-button">
                <button class="boton-login" type="submit">Iniciar Sesion</button>
            </div>
            
            <h4 class="pregunta">¿Todavía no tenes una cuenta?</h4>

            <div>
                <button class="boton-login-registro" type="submit">Registrate</button>
            </div>

        </form>
    </section>
</body>
</html>