<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body class="body-login">

        <%- include('partials/header.ejs') %>

            <section class="inicio-sesion">
                <h3>Inicio de Sesión</h3>

                <h5>Completá tus datos</h5>

                <form action="/log-in" method="POST" id="form">

                <div class="col-8 col-lg-10">
                    <small class="text-danger erName"></small>
                </div>

                <% if(locals.errors){
                        errors.forEach((err) => {%>
                            <p class="register-alert"><i class="fa-solid fa-circle-radiation"></i> <%= err.msg %></p>
                        <%})%>
                    <%}%>

                    <ul id="lista-errores"></ul>

                    <p class="form-section">
                        <label for="email"><b>Email</b></label>
                        <input class="register-input" type="text" placeholder="Ingrese Email" name="email" id="email">
                    </p>
                    
                    <p class="contrasena">
                        <label for="clave">Contraseña:</label>
                        <input class="input-register" type="password" name="password" id="clave">
                    </p>

                    <a href="/restaurar-contraseña">¿Olvidaste tu contraseña?</a>

                    <div class="login-button">
                        <button class="boton-login" type="submit">Iniciar Sesion</button>
                    </div>

                    <h4 class="pregunta">¿Todavía no tenes una cuenta?</h4>

                    <div>
                        <button class="boton-login-registro" type="submit">Registrate</button>
                    </div>

                </form>
            </section>

<<<<<<< HEAD
           <script src="/public/js/loginValidator.js"></script>
=======
            <script src="/js/loginValidator.js"></script>
>>>>>>> a3f1dbbb20dce51e01531e594ca173011634fa8e

    </body>

</html>