<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>
 
<%- include('partials/header.ejs') %>
    
<!-------------- MAIN ----------------------------------------------->
    <main class="main-cart">
        <section class="cart-products">
            <div class="prod">
                <img src="images/products/laptop3.jpeg" alt="laptop">
                <ul>
                    <li>spec 1</li>
                    <li>spec 2</li>
                    <li>spec 3</li>
                </ul>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                </div>
                <h3>$ 23.000</h3>
            </div>

            <div class="prod">
                <img src="images/products/laptop3.jpeg" alt="laptop">
                <ul>
                    <li>spec 1</li>
                    <li>spec 2</li>
                    <li>spec 3</li>
                </ul>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">2</div>
                    <div class="btn">-</div>
                </div>

                <h3>$ 23.000</h3>
            </div>

        </section>

        <section class="summary">
            <div class="resumen-precio">
                <div>
                    <h3>Subotal __________</h3>
                    <h3>Impuesto _________</h3>
                    <h3>Total ____________</h3>
                </div>
                <div>
                    <h3>$ XXX</h3>
                    <h3>$ XXX</h3>
                    <h3>$ XXX</h3>
                </div>
                
            </div>
            <div> 
                <button type="submit" class="pagar">Pagar</button>
            </div>

        </section>

    </main>

<!-------------- FOOTER ----------------------------------------------->

<%- include('partials/footer.ejs') %>

</body>
</html>