<header>
    <!--Barra superrior logo, copy y busqueda -->
    <nav class="nav-bar">
        <div class="logo">
            <a href="/">
                <img class="logo-img" src="/images/logo.png" class="logo">
                <h2 class="logo-text">Laptop Store</h2>
            </a>
        </div>

        <div class="menu-productos">
            <a href="/products">
                <h2>Productos</h2>
            </a>
        </div>
        <% if (locals.user) {%>
            <% if (locals.user.is_admin == 1) {%>
                <div class="menu-productos">
                    <a href="/product-create">
                        <h2>Vender</h2>
                    </a>
                </div>
            <%}%>
        <%}%>
        <div class="dropdown-productos">
            <a href="#"><i class="fa-solid fa-bars"></i> Menu</a>
        </div>

        <div class="search-bar">
            <input type="text" name="busca" placeholder="Buscar">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div class="user-menu">
            <div class="crear-cuenta">
                <% if (locals.user) {%>
                    <a href="/users/<%= locals.user.id%>"> <i class="fa-regular fa-user"></i>
                        <%= locals.user.first_name%>!
                    </a>
                    <%}else{%>
                        <a href="/register">
                            <h4><i class="fa-solid fa-user-plus"></i>Crear cuenta</h4>
                        </a>
                    <%}%>
            </div>
            <% if (locals.user) {%>
                <div class="log-in">
                    <a href="/logout">
                        <h4><i class="fa-solid fa-right-from-bracket"></i>Log out</h4>
                    </a>
                </div>
                <%}else{%>
                    <div class="log-in">
                        <a href="/login">
                            <h4><i class="fa-solid fa-right-to-bracket"></i>Log in</h4>
                        </a>
                    </div>
                    <%}%>

                        <div class="cart-logo">
                            <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>

        </div>
    </nav>
</header>